using Microsoft.EntityFrameworkCore;
using System;

namespace Entities
{
    public partial class @CONTEXT_NAME : DbContext
    {
        public @CONTEXT_NAME(DbContextOptions<@CONTEXT_NAME> options) : base(options)
		{

        }
		
@CONTEXT_PROPERTYS

        protected override void OnModelCreating(ModelBuilder modelBuilder)
		{
            base.OnModelCreating(modelBuilder);

@CONTEXT_ENTITY_CONFIG
        }
    }
}
